<div class="chatContainer" id="chat" data-user="{{user}}">
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
  />
  <link rel="stylesheet" href="style.css" />
  <h2 class="chatTitle">Chat</h2>
  <div class="panel">
    <div id="chatHistory"></div>
    <form id="form" class="chatForm">
      <textarea name="" id="mensaje" cols="30" rows="2"></textarea>
      <input type="submit" id="button" class="chatBtns" value="Enviar" />
    </form>
  </div>
  <button id="cleanHistory" class="chatBtns">Borrar historial</button>
  <a href="/views/products">HOME</a>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>