<h1>LOGIN</h1>
<form action="/users/login" method="post">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="submit" value="Ingresar">
</form>

<h2>USUARIO NUEVO?</h2>
<button onclick="location.href='/views/registro'">Ir a Registro</button>