<h2 style="margin-left: 20px; margin-top: 20px">Bienvenido {{email}}!</h2>

<button style="margin-left: 20px; margin-top: 20px" onclick="location.href='/users/logout'">Logout</button>

<button style="margin-left: 20px; margin-top: 20px" onclick="location.href='/views/adminProducts'">Ir a Productos</button>